<!DOCTYPE html>
<html>
    <head>
        <style>
            .form-container {
                margin: auto;
                margin-top: 5rem;
                padding: 25px;
                background-color: rgb(251, 152, 71);
                border-radius: 4px;
                width:50%;
                height: 100%;
            }

            h2 {
                text-align: center;
                color: white;
            }

            .error {
                color:red;
            }
        </style>
    </head>
    <body style="margin:0">
        <div class="form-container">
            <text value="Welcome, {{.FirstName}} {{.LastName}}"></text>
        </div>
    </body>
</html>